/*********************
POSTS & CONTENT STYLES
*********************/
// .person 				<-- BLOCK
// .person__hand		<-- ELEMENT
// .person--male 		<-- MODIFIER
// .person--female		<-- MODIFIER
// .person--male__hand  <-- MODIFIED__ELEMENT

// Featured Hentry
.is--featured{
	.#{$hentry_module}{
		// Child Elems
		&__featured_image,
		&__title_wrapper--outer{
			position: absolute;
		}
		&__featured_image{
			top: 0;
		}
		&__title_wrapper--outer{
			bottom: 0;
			min-height: 207px;
		}
		&__title_wrapper{
		}
	}
	// Modifiers
	&.#{$hentry_module}--as-row{
		overflow: hidden;
		margin-bottom: 0;
		height: 100vh;
	}
	&.slick{
		&-slide{
			.#{$hentry_module}{
				// Child Elems
				&__featured_image{}
				&__title_wrapper--outer{
					padding-bottom: 50px;
				}
			}
		}
		&-active{
			.slider{
				&__control--in_slide{
					@include opacity(1);
				}
			}
		}
	}
}

// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px

// @Media
// Height
@include media(">height460"){}
@include media(">height520"){
	.is--featured{
		.#{$hentry_module}{
			// Child Elems
			&__featured_image,
			&__title_wrapper--outer{
				position: relative;
				float: left;
			}
			&__featured_image{
			}
			&__title_wrapper--outer{
			}
		}
		// Modifiers
		&.#{$hentry_module}--as-row{
			height: auto;
		}
		&.slick{
			&-slide{
				.#{$hentry_module}{
					// Child Elems
					&__featured_image{}
					&__title_wrapper--outer{
					}
				}
			}
			&-active{
				.slider{
					&__control--in_slide{
					}
				}
			}
		}
	}
}

@include media(">height600"){}

// Orientation
@include media("portrait"){}
@include media("landscape","<tablet"){}
// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){
	.is--featured{
		.#{$hentry_module}{
			// Child Elems
			&__featured_image,
			&__title_wrapper--outer{}
			&__featured_image{}
			&__title_wrapper--outer{
				min-height: inherit;
			}
			&__title_wrapper{}
		}
		// Modifiers
		&.#{$hentry_module}--as-row{}
		&.slick{
			&-slide{
				.#{$hentry_module}{
					// Child Elems
					&__featured_image{}
					&__title_wrapper--outer{}
				}
			}
			&-active{
				.slider{
					&__control--in_slide{}
				}
			}
		}
	}
}

@include media(">tablet"){
	
}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media(">desktop"){}
@include media("<desktop"){}
@include media(">1200px"){
	// Featured Hentry
	.is--featured{
		.#{$hentry_module}{
			// Child Elems
			&__featured_image,
			&__title_wrapper--outer{
				position: absolute;
			}
			&__featured_image{}
			&__title_wrapper--outer{}
		}
		// Modifiers
		&.#{$hentry_module}--as-row{
			height: 100vh;
		}
		&.slick{
			&-slide{
				.#{$hentry_module}{
					// Child Elems
					&__featured_image{}
					&__title_wrapper--outer{
					}
				}
			}
			&-active{
				.slider{
					&__control--in_slide{}
				}
			}
		}
	}
}
@include media(">large_desktop"){}
@include media("<large_desktop"){}