/*********************
Find Us/Contact Page
*********************/

// Module

// Child Elems
// Modifiers
// Fallbacks - []


.logo{
	&--primary {
      fill: #000;
    }
}
.nav__toggle__bar{
	border-color: #000;
}


.white-box{
	background-color: #fff;
}

.hero_unit{
	&__title{
		&--main{
			font-size: pvw(58, 600);
			letter-spacing: -1px;
		}
	}
}

.entry-content{
	p{
		font-size: 16px;
		line-height: 1.46;

		margin-bottom: 11px;

		&:first-child{
			font-size: 20px;
			line-height: 1.20;

			margin-bottom: 22px;
		}
	}

	color: $dark-grey;
}

.street-view{
	display: none;
}


// @Media
// Breakpoints
//  'phone':            320px,
//  'phone_landscape':  480px,
//  'tablet':           600px,
//  'tablet_large':     800px,
//  'desktop':          1024px,
//  'large_desktop':    1600px

// @Media

// Height
@include media(">height460"){}
@include media(">height600"){}

// Orientation
@include media("portrait"){}
@include media("landscape"){}

// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){
	.hero_unit{
		&__title{
			&--main{}
		}
	}
}
@include media(">phone_landscape"){}
@include media(">tablet"){
	
	.nav__toggle__bar{
		border-color: #fff;
	}

	.white-box{
		width: 50%;

		padding: 0 20px 0 40px;
	}

	.hero_unit{
		&__title{
			&--main{
				font-size: pvw(87, 1024);

				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
	}

	.entry-content{
		p{
			font-size: 20px;
			&:first-child{
				font-size: 30px;
			}
		}
	}

	.street-view{
		display: block;

		background-color: red;

		width: 50%;
		height: 100%;

		position: absolute;

		top: 0;
		right: 0;
	}
}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media(">desktop"){
	
	.white-box,
	.street-view{
		width: 42%;
		height: 50vh;
		max-width: 635px;
	}
	.white-box{
		overflow: auto;

		padding: 0 40px 0 60px;
	}

	.street-view{
		display: block;

		position: relative;
	}
	.hero_unit{
		&__title{
			&--main{
				font-size: 87px;

				letter-spacing: -2px;

				margin-top: 73px;
				margin-left: -7px;
			}
		}
	}
}
@include media("<desktop"){}
@include media(">large_desktop"){
	.street-view{
		
	}
}
@include media("<large_desktop"){}