.find-us{
	&__menu_panel{
		width: 100vw;
		height: 100vh;

		background-color: $red;
		
		position: fixed;
		
		left: 20%;
		top: 0;
		.is--open__findus_panel &{
			@include transform(translateX(0%));
		}
	}
}

.is--open__findus_panel{
	height: 100vh;
	overflow: hidden;
}