/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

******************************************************************/

// Media Queries
@import '../../../bower_components/include-media/dist/include-media';

/*********************
RESPONSIVE HELPER FUNCTION
Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}
@function cp($target, $container) {
  @return calc-percent($target, $container);
}
