/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

******************************************************************/

// Col Width: 60
// Gutter Width: 20
// Container padding: 20
// Num of Cols: 24

@import "../../../bower_components/susy/sass/susy";

.container{
	@include container(100%);
}

.wrap{
	padding-left: 25px;
	padding-right: 68px;
}


// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px
@include media("portrait"){
	.wrap{
		padding-left: 25px;
		padding-right: 25px;
	}
}

@include media(">tablet"){
	.wrap{
		padding-left: 20px;
	}
}
@include media("portrait", ">tablet"){
	.wrap{
		padding-right: 20px;
	}
}