/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

// -------
// Colors
// -------

// Neutral color palette
$white: #fff;
$black: #000;
$red: #c70000;
$yellow: #ffff00;
$green: #00ff84;
$blue: #3c81ff;


$blockquote_marks: "\201C";

// -----------
// Breakpoints
// -----------
$breakpoints: (
	phone: 320px, phone_landscape: 480px, 
	tablet: 600px, tablet_large: 800px, 
	desktop: 1024px, large_desktop: 1600px
);
$media-expressions: (
	'>height460': (
		'(min-height: 460px)'
	),
	'>height600': (
		'(min-height: 600px)'
	),
	'portrait': (
		'(orientation:portrait)'
	),
	'landscape': (
		'(orientation:landscape)'
	),
);

// -----
// Type
// -----
$font__family--body			: 'circular'; //maison-neue
$font__family--headings		: $font__family--body;
$font__size--body			: 14px;
$font__line-height--body	: 1;


// Transition Curves
$disnfy: cubic-bezier(1.000, -0.600, 0.525, 1.490);
$star_trek: cubic-bezier(0.77, 0, 0.175, 1);

// Nav Settings
$nav--primary__transtion_time: 0.5s;
$nav--primary__width: 416px;