// Color Variants
$variants: ( 
  is--onBlack: (fill: $white),
  is--onWhite: (fill: $black)
);

// Brand - Base Definition
$brand_module: 'logo';
.#{$brand_module}{

  // Child Elems
  svg{}

  // Modifiers
  &--primary{
    width: 110px;
    margin-left: -10px;
    fill: #fff;
  }
  &--alternative{}
  
  // Themify
  @each $theme, $map in $variants {
    .#{$theme} & { fill: map-get($map, fill); }
  }

  // Fallbacks - [svg]
  .no-svg &{
    // Child Elems
    svg{ 
      display: none;
    }
    &.is--fallback{
      display: block;
    }
  }

}



// @Media
// Breakpoints
//  'phone':            320px,
//  'phone_landscape':  480px,
//  'tablet':           600px,
//  'tablet_large':     800px,
//  'desktop':          1024px,
//  'large_desktop':    1600px

// @Media

// Height
@include media(">height460"){}
@include media(">height600"){}

// Orientation
@include media("portrait"){}
@include media("landscape"){}

// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){}
@include media(">tablet"){
  .#{$brand_module}{
    &--primary{
      width: 156px;
      margin-left: 20px;
    }
  }
}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media(">desktop"){}
@include media("<desktop"){}
@include media(">large_desktop"){}
@include media("<large_desktop"){}
