/*********************
Front/Home Page
*********************/
// Color Variants

// Module
$module: 'hero_unit';
.#{$module}{
	// Child Elems
	&__wrapper{
		padding-top: 8.2vh;
	}
	&__header{
		margin-bottom: 3.4vh;
	}
	&__category_byline{
		.hentry__byline{}
	}
	&__title{
		&--super{}
		&--main{
			font-size: 11.7vw;
			letter-spacing: -3px;
		}
	}
	&__copy{
		p{
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: -1px;
			margin-bottom: 2.7vh;
		}
		strong{
			line-height: 1;
			font-size: 9vw;

		}
	}
	&__footer{}
	&__bgmedia{
		z-index: -1;
	}

	// Modifiers
	// Fallbacks - []
}

// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px

// @Media
@include media(">phone"){
}
@include media("<phone_landscape"){
	// Module
	.#{$module}{
		// Child Elems
		&__title{
			text-align: left;
		}
		&__copy{
			p{
				text-align: left !important;
			}
		}
	}
}
@include media(">phone_landscape"){
	// Module
	.#{$module}{
		// Child Elems
		&__copy{
			p{}
			strong{
			}
		}
	}
}
@include media(">tablet"){
	// Module
	.#{$module}{
		// Child Elems
		&__copy{
			p{
				font-size: 16px;
			}
			strong{
			}
		}
	}
}
@include media(">tablet_large"){
	.#{$module}{
		// Child Elems
		&__wrapper{
			width: 70.58824%;
			margin: 0 auto;
		}
		&__header{
		}
		&__category_byline{
			.hentry__byline{}
		}
		&__title{
			&--super{}
			&--main{
				letter-spacing: -4px;
				word-spacing: -1px;
			}
		}
		&__copy{
			p{
				font-size: 18px;
  				letter-spacing: 0px;
			}
			strong{
				font-size: 4.3vw;
				word-spacing: 3px;
			}
		}
		&__footer{}
		&__bgmedia{}

		// Modifiers
		// Fallbacks - []
	}
}
@include media(">desktop"){
	.#{$module}{
		// Child Elems
		&__wrapper{
		}
		&__header{
		}
		&__category_byline{
			.hentry__byline{}
		}
		&__title{
			&--super{}
			&--main{
				letter-spacing: -4px;
				word-spacing: -1px;
			}
		}
		&__copy{
			p{
  				  font-size: 24px;
			}
			strong{
				font-size: 4.3vw;
				word-spacing: 3px;
			}
		}
		&__footer{}
		&__bgmedia{
		}

		// Modifiers
		// Fallbacks - []
	}
}
@include media(">large_desktop"){
	.#{$module}{
		// Child Elems
		&__wrapper{
		}
		&__header{
		}
		&__category_byline{
			.hentry__byline{}
		}
		&__title{
			&--super{}
			&--main{
				letter-spacing: -4px;
				word-spacing: -1px;
			}
		}
		&__copy{
			p{
  				font-size: 30px;
			}
			strong{
				font-size: 4.3vw;
				word-spacing: 3px;
			}
		}
		&__footer{}
		&__bgmedia{
		}

		// Modifiers
		// Fallbacks - []
	}
}
@include media(">height600"){
}
