/*********************
Front/Home Page
*********************/
// Color Variants

// Module
$hero_module: 'hero_unit';
.#{$hero_module}{
	// Child Elems
	&__wrapper{
		padding-top: 30px;
	}
	&__header{
		margin-bottom: 1.1vh;
	}
	&__title{
		&--main{
			font-size: 18.6vw;
			letter-spacing: -3px;
		}
	}
	&__copy{
		p{
			font-size: 14px;
			line-height: 1.3;
			margin-bottom: 2.2vh;
		}
		strong{
			line-height: 1;
			font-size: 8vw;
			letter-spacing: -1px;

		}
		.category-features &{
			color: #555;
			p{}
			strong{}
		}
	}
	&__bgmedia{
		z-index: -1;
		&__video{
			display: none;
		}
	}

	// Modifiers
	// Fallbacks - []
}

// Modifiers
.category{
	 &--features{
	 	.#{$hero_module}{
		 	&__title{
				&--main{
					font-family: 'tiempos';
					font-size: 14vw;
					letter-spacing: -2px;
					color: #222;
					line-height: 0.9;
				}
			}
		}
	}
}

// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px

// @Media
@include media(">phone"){}
@include media("<phone_landscape"){
	// Module
	.#{$hero_module}{
		// Child Elems
		&__title{
			text-align: left;
		}
		&__copy{
			p{
				text-align: left !important;
			}
		}
	}
}
@include media(">phone_landscape"){
	// Module
	.#{$hero_module}{
		// Child Elems
		.hentry{
			&__meta{
				text-align: center;
				font-size: 16px;
			}
		}
		&__title{
			&--main{
				font-size: 11.7vw;
				letter-spacing: -4px;
				word-spacing: -1px;
			}
		}
		&__copy{
			p{
			}
			strong{
				font-size: 4.3vw;
				word-spacing: 3px;
			}
		}

	}
}
@include media(">tablet"){
	// Module
	.#{$hero_module}{
		// Child Elems
		&__copy{
			p{
				font-size: 16px;
			}
			strong{}
		}
	}
}
@include media(">tablet_large"){
	.#{$hero_module}{
		// Child Elems
		&__wrapper{
		}
		&__header{
		}
		.hentry{
			&__meta{
				margin-bottom: 2.1vw;
			}
		}
		&__title{
			&--super{}
			&--main{}
		}
		&__copy{
			width: 74.78992%;
			margin: 0 auto;
			p{
				font-size: 16px;
			}
			strong{
			}
		}
		&__footer{}
		&__bgmedia{
		}

		// Modifiers
		// Fallbacks - []
	}

	// Modifiers
	.category{
		 &--features{
		 	.#{$hero_module}{
			 	&__title{
					&--main{
						font-size: 8.3vw;
					}
				}
			}
		}
	}
}
@include media(">desktop"){
	.#{$hero_module}{
		// Child Elems
		.hentry{
			&__meta{
				font-size: 1.28vw;
			}
		}
		&__copy{
			p{
				font-size: 24px;
				margin-bottom: 2.8vh;
			}
			strong{
			}
		}
	}
}
@include media(">large_desktop"){
	.#{$hero_module}{
		// Child Elems
		&__title{
			&--main{
				letter-spacing: -4px;
				word-spacing: -1px;
			}
		}
		&__copy{
			p{
  				font-size: 30px;
			}
		}
		// Modifiers
		// Fallbacks - []
	}
}
@include media(">height600"){
}
