/*********************
NAVIGATION STYLES
*********************/

// Settings

$navigation_module: 'navigation';
.#{$navigation_module}{
	// Child Elems
	&--list{
		margin: 0;
	}
	.menu-item{
		a, a:visited{
			color: #fff;
			font-size: 25px;
			line-height: 1.4;
			text-transform: uppercase;
		}
	}
	// Modifiers
	&--primary{
		background-color: #141414;
		right: 0;
		top: 0;
		padding-top: 153px;
		.#{$navigation_module}{
			&--list{
				width: $nav--primary__width;
				padding: 0 40px 0 78px;
				margin-bottom: 86px;
			}
		}
		.menu-item{
			margin-bottom: 24px;
			a, a:visited{
				word-spacing: 2px;
			}
		}
		.current-menu-item{
			a, a:visited{
				border-bottom: 2px solid #fff;
			}
		}
		.heading{
			color: #555;
			font-size: 18px;
			font-weight: bold;
			padding: 0 40px 0 78px;
			margin-bottom: 21px;
			display: inline-block;
		}
		.list{
			padding: 0 40px 0 78px;
			margin: 0;
			.item{
				color: #555;
				font-size: 16px;
				margin-bottom: 6px;
			}
		}
	}
	&--sub{
		&--list{}
		.menu-item{
			a, a:visited{}
		}
	}

	.is--open__primary-nav &{
		&--primary{
			@include transform(translateX(0%));
		}
	}

  // Fallbacks - []
}

// Breakpoints
//  'phone':            	320px,
//  'phone_landscape':  	480px,
//  'tablet':           	600px,
//  'tablet_large':     	800px,
//  'desktop':          	1024px,
//  'large_desktop':    	1600px

// @Media
// Height
@include media(">height460"){}
@include media(">height600"){}
// Orientation
@include media("portrait"){}
@include media("landscape"){}
// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){}
@include media(">tablet"){}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media(">desktop"){}
@include media("<desktop"){}
@include media(">large_desktop"){}
@include media("<large_desktop"){}