$module: 'showcase';

.#{$module}{
	height: 100vh;
	width: 100%;
	background-color: #1a1a1a;
	&__wall{
	}
	&__entry{
		width: 400px;
		height: 100vh;
		@include transition(background-color .2s ease-out);
		&__permalink{
			z-index: 1;
		}
		&__header{
			color: #fff;
			top: 23%;
			padding: 0 32px;
			@include opacity(.3);
			@include transition(opacity .4s $star_trek);
		}
		&__featured_image{
			background-size: 100%;
			background-size: cover;
			background-position: center center;
			@include opacity(0);
			@include transition(opacity .6s $star_trek .3s);
			&.is--active{
				@include opacity(1);
				@include transition(opacity .6s $star_trek);
			}
		}
		&.is--active {
			background-color: rgba(0,0,0, 0.3);
			.#{$module}{
				&__entry{
					&__header{
						@include opacity(1);
					}
				}
			}
		}
	}
	&__title{
		font-size: 48px;
	}
	&__cate{
		font-size: 18px;
		margin-bottom: 20px;
	}
}


.overlay_panel{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	background-color: #1a1a1a;
	max-width: 76%;
	padding-top: 178px;
	padding-left: 4.9%;
	padding-right: 10%;
	@include transform(translateX(-100%));
	&__header{
		margin-bottom: 10px;
	}
	&__title{
		color: #9a9a9a;
		font-size: 33px;
		font-weight: normal;
	}
	&__copy{
		color: #e0e0e0;
		font-size: 86px;
		font-family: $font__family--headings;
		line-height: 1.02;
	}
}

// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px

// @Media
@include media(">phone_landscape"){}
@include media(">tablet"){}


