/*********************
VIEWMORE BTN STYLES
*********************/

$viewmore_btn: 'viewmore';
.#{$viewmore_btn}{
  margin: 20px auto 0;
  background-color: #363636;
  float: left;
  width: 100%;
  position: relative;
  &__mask{
    position: absolute;
    width: 15%;
    background-color: #141414;
    height: 48%;
    &--1{left: 0px; top: 0;}
    &--2{left: 0px; bottom: 0;}
    &--3{right: 0px; top: 0;}
    &--4{right: 0px; bottom: 0;}
  }
  &__fill{
    background-color: #fff;
    width: 0;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  &__btn{
    width: 70%;
    margin: 4px auto;
    padding: 0 4px;
    position: relative;
    cursor: pointer;
    &__label{
      font-size: 16px;
      padding: 10px;
      color: #666;
      text-align: center;
      background-color: #141414;
    }
  }
}


// @Media
// Height
@include media(">height460"){}
@include media(">height600"){}
// Orientation
@include media("portrait"){}
@include media("landscape"){}
// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){}
@include media(">tablet"){}
@include media("<tablet"){}
@include media(">tablet_large"){
  .#{$viewmore_btn}{
    &__mask{
      width: 37.5%;
      &--1{}
      &--2{}
      &--3{}
      &--4{}
    }
    &__fill{}
    &__btn{
      width: 24.9%;
      &__label{
        font-size: 35px;
        padding: 27px;
      }
    }
  }
}
@include media("<tablet_large"){}
@include media(">desktop"){}
@include media("<desktop"){}
@include media(">large_desktop"){}
@include media("<large_desktop"){}