/*********************
Front/Home Page
*********************/

// Module
$page: 'home';
.#{$page}{
	
	// Child Elems
	// Modifiers
	// Fallbacks - []
	
	background-color: #141414;
	.logo{
	    &--primary {
	      fill: #fff;
	    }
	}

	// Homepage Navigation Toggle
	.nav__toggle{
		// Child Elems
	    &__bar{
			border-color: #fff;
		}
	}
	// Homepage Hero Unit
	.hero_unit{
		&__wrapper{
			@include span(22 of 24);
			padding-bottom: 30px;
		}
		&__header{
			margin-bottom: 2.9vh;
		}
		&__category_byline{
			.hentry__byline{}
		}
		&__title{
			&--super{}
			&--main{
			}
		}
		&__copy{
			width: 100%;
  			margin: 0;
			p{
				font-size: 3.4vw;
				letter-spacing: 0;
				word-spacing: -1px;
				color: #a6a6a6;
			}
			strong{
				font-size: 5.8vw;
			  	letter-spacing: 0px;
			  	word-spacing: -1px;
			  	line-height: 0.8;
			  	color: #ddd;
			}
		}
	}
	// Latest
	.latest{

	}
}

// Breakpoints
// 	'phone': 			320px,
// 	'phone_landscape': 	480px,
// 	'tablet': 			600px,
// 	'tablet_large': 	800px,
// 	'desktop': 			1024px,
// 	'large_desktop': 	1600px

// @Media
@include media("portrait"){
	// Homepage Hero Unit
	.#{$page}{
		.hero_unit{
			&__wrapper{
				padding-top: 95px;
			}
			&__header{}
			&__category_byline{
				.hentry__byline{}
			}
			&__title{
				&--super{}
				&--main{
				}
			}
			&__copy{
				p{
					font-size: 3.4vw;
					letter-spacing: 0;
					word-spacing: -1px;
				}
				strong{
					font-size: 5.8vw;
				  	letter-spacing: 0px;
				  	word-spacing: -1px;
				  	line-height: 0.8;
				}
			}
		}
	}
}
@include media("<phone"){
	.#{$page}{
		// Homepage Hero Unit
		.hero_unit{
			&__copy{
				p{
					font-size: 7vw;
					word-spacing: 0;
				}
				strong{
					font-size: 10vw;
					word-spacing: 0px;
					line-height: 1.2;
				}
			}
		}
	}
}
@include media(">phone_landscape"){
	// Module
	.#{$page}{
		// Child Elems
		// Modifiers
		// Fallbacks - []

		// Homepage Hero Unit
		.hero_unit{

		}
	}
}
@include media(">tablet"){
	// Module
	.#{$page}{
		// Child Elems
		// Modifiers
		// Fallbacks - []
		.hero_unit{
			&__copy{
				p{
					margin-bottom: 5.7vh;
				}
				strong{
				}
			}
		}
	}
}
@include media(">1400px"){
	.#{$page}{
		.hero_unit{
			&__wrapper{}
		}
		.latest{
			.hentry{
				&--as-block{
					width: 25%;
				}
			}
		}
	}
}

@include media('<tablet_large'){
	.#{$page}{
		.hero_unit{
			&__wrapper{}
			br{ display: none; }
		}
	}
}
@include media('>tablet_large'){
	// Homepage Hero Unit
	.#{$page}{
		.hero_unit{
			&__wrapper{
				@include push(1 of 24);
			}
			&__header{}
			&__category_byline{}
			&__title{}
			&__copy{
				p{
					font-size: 1.72vw;
					line-height: 1.37;
				}
				strong{
					font-size: 6.5vw;
					letter-spacing: -2px;
					word-spacing: -5px;
					line-height: 0.9;
				}
			}
		}
	}
}
@include media(">desktop"){}
@include media(">large_desktop"){}
