/*********************
Single Post
*********************/

// 'Single' Module
$page_single: 'single';
.#{$page_single}{
  
  // Child Elems
  .logo{
    &--primary {
      fill: #000;
    }
  }
  .nav__toggle__bar{
    border-color: #000;
  }
  &.is--open__primary-nav .nav__toggle__bar{
    border-color: $red;
  }

  // Modifiers
  &.category{
    &--features{
      background-color: #ffff81;
      .header{
        &--page{
          border-color: #E8E883;
        }
      }
    }
  }

  // Fallbacks - []
}

// @Media
// Breakpoints
//  'phone':            320px,
//  'phone_landscape':  480px,
//  'tablet':           600px,
//  'tablet_large':     800px,
//  'desktop':          1024px,
//  'large_desktop':    1600px

// @Media

// Height
@include media(">height460"){}
@include media(">height600"){}

// Orientation
@include media("portrait"){}
@include media("landscape"){}

// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){}
@include media(">tablet"){}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media(">desktop"){}
@include media("<desktop"){}
@include media(">large_desktop"){}
@include media("<large_desktop"){}

// @import "single/header";
@import "single/body";
@import "single/attachments";
@import "single/quotes";
@import "single/gallery";
@import "single/full_span_image";
@import "single/case_study";

