/*********************
Single Post
*********************/

// 'Single' Module
$case_study: 'case_study';
.#{$case_study}{
  	
  	background-color: #fff;

  	padding-top: 20px;

	// Child Elems
	// Featured Image
	&__featured_image{
	}
	// Header
	&__header{
		// Intro
		p{
			font-size: 16px;
			line-height: 1.35;

			color: #565656;

			padding-left: 0;
			margin-bottom: 40px;
		}
	}
	&__title{
		font-size: 16px;
		font-weight: normal;
		line-height: 1;

		max-width: 60%;

		color: #555;
		
		margin-bottom: 3px;

		&--sub{
			font-size: 34px;
			font-weight: bold;
			line-height: 1;

			color: #222;

			letter-spacing: -1px;

			margin-bottom: 32px;
		}
	}
	// Pagination
	// Attachments
	// Headings
	// Copy
	// Blockquotes
	// Pullquotes
  	// Modifiers
  	// Fallbacks - []
}

// @Media
// Breakpoints
//  'phone':            320px,
//  'phone_landscape':  480px,
//  'tablet':           600px,
//  'tablet_large':     800px,
//  'desktop':          1024px,
//  'large_desktop':    1600px

// @Media

// Height
@include media(">height460"){}
@include media(">height600"){}

// Orientation
@include media("portrait"){}
@include media("landscape"){}

// Width
@include media("<phone"){}
@include media(">phone"){}
@include media("<phone_landscape"){}
@include media(">phone_landscape"){}
@include media(">tablet"){
	.#{$case_study}{
	  	padding-top: 35px;
		// Child Elems
		// Featured Image
		&__featured_image{}
		// Header
		&__header{
			max-width: 85%;
  			margin: 0 auto;
			// Intro
			p{
				max-width: 78%;
			}
		}
		&__title{
			
			&--sub{
				font-size: 45px;
				font-size: pvw(88, 1600);

				word-spacing: 1px;

				max-width: 78%;
			}
		}
		// Pagination
		// Attachments
		// Headings
		// Copy
		// Blockquotes
		// Pullquotes
		
	  	// Modifiers

	  	// Fallbacks - []
	  
	}
}
@include media("<tablet"){}
@include media(">tablet_large"){}
@include media("<tablet_large"){}
@include media("<desktop"){}
@include media(">desktop"){
	.#{$case_study}{

		position: absolute;
  		top: 45vw;
	  
		// Child Elems
		// Featured Image
		&__featured_image{
		}
		// Header
		&__header{

			// Intro
			p{
			}
		}
		&__title{

			&--sub{}
		}
		// Pagination
		// Attachments
		// Headings
		// Copy
		// Blockquotes
		// Pullquotes
		
	  	// Modifiers

	  	// Fallbacks - []
	  
	}
}

@include media(">large_desktop"){
	.#{$case_study}{

  		top: 45vw;
	  
		// Child Elems
		// Featured Image
		&__featured_image{
			position: absolute;
  			z-index: -1;
		}
		// Header
		&__header{
			padding-top: 70px;
			padding-bottom: 10px;

			max-width: 1590px;
			
			// Intro
			p{
				font-size: 30px;
				line-height: 36px;

				padding-left: 0;
				margin-bottom: 40px;

				max-width: 75%;
			}
		}
		&__title{
			font-size: 34px;
			line-height: 1;

			letter-spacing: 0px;
			word-spacing: -2px;
			
			margin-bottom: 3px;

			&--sub{
				font-size: 88px;
				line-height: 0.98;

				letter-spacing: -2px;
				margin-bottom: 60px;
			}
		}
		// Pagination
		// Attachments
		// Headings
		// Copy
		// Blockquotes
		// Pullquotes
		
	  	// Modifiers

	  	// Fallbacks - []
	  
	}
}
@include media("<large_desktop"){}
